@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 91 30% 88%;
    --foreground: 224 71.4% 4.1%;
    --card: 91 30% 92%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 91 30% 92%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 208 63% 65%;
    --primary-foreground: 222.9 70% 10%;
    --secondary: 215 27.9% 83.9%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 83.9%;
    --muted-foreground: 223.5 9.3% 40.2%;
    --accent: 33 100% 65%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20.2% 65.1%;
    --input: 215 20.2% 65.1%;
    --ring: 208 63% 65%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 91 30% 88%;
    --card: 224 71.4% 6.1%;
    --card-foreground: 91 30% 88%;
    --popover: 224 71.4% 6.1%;
    --popover-foreground: 91 30% 88%;
    --primary: 208 63% 65%;
    --primary-foreground: 222.9 70% 10%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 91 30% 88%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.5 19.5% 50.4%;
    --accent: 33 100% 65%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 208 63% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
